# Global
*.o
*.lo
*.so
*.log
*.trs
*~
doc
build-aux

# Cmake
build/

# Autotools
m4/
autom4te.cache/
.deps
.libs
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
configure
aclocal.m4
libtool
stamp-h1
libu2f-emu.la
autoscan.log
configure.scan

# Project
u2f-emu.pc
u2f-emu-usb
u2f-emu-nfc
u2f-emu-bluetooth
Doxyfile
sanity-check
